html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
  /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}